.position {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 3.5em 0 0 30%;
}

.position-title {
    font-weight: 500;
    font-size: 20px;
    display: flex;
}

.position-card {
    display: flex;
    flex-direction: column;
    gap: 2em;
    margin: 2em 0 0 0;
    border: 2px solid #EAECF0;
    padding: 1em 2em;
    border-radius: 16px;
    width: 55%;
    transition-duration: 350ms;
}

.position-card:hover {
    background-color: rgb(66, 0, 0);
    color: white;
    transition-duration: 350ms;
}

.position-function {
    font-weight: 500;
    font-size: 18px;
}

.position-text {
    font-weight: 500;
    color: var(--grey);
}

#position-second-title {
    margin-top: 2em;
}

.position-a {
    text-decoration: none;
    color: var(--dark-blue);
    width: 100%;
}